/* Metadata configuration */

* {
  font-family: "Segoe UI", "Open Sans", sans-serif;
  font-weight: normal;
}
:root {
  --default-text: black;
  --widget-subtext: grey;

  --taskbar-border: 1.5px solid rgba(0, 0, 0, 0.1);
  --taskbar-button-border-hover: rgba(0, 0, 0, 0.05);
  --taskbar-button-hover: rgba(255, 255, 255, 0.6);
  --taskbar-button-clicked: rgba(255, 255, 255, 0.3);

  --searchbox: rgba(255, 255, 255, 0.85);
  --searchbox-border-colour1: rgba(0, 0, 0, 0.05);
  --searchbox-border-colour2: rgba(0, 0, 0, 0.15);
  --searchbox-border-gradient: linear-gradient(
        var(--searchbox),
        var(--searchbox)
      )
      padding-box,
    linear-gradient(180deg, var(--searchbox-border-colour1) 75%, var(--searchbox-border-colour2) 100%) border-box;
  --searchbox-border: 1.5px solid transparent;
  --searchbox-placeholder-opacity: 0.65;
}
html {
  font-size: 0.8rem;
}
body,
h3,
h4 {
  margin: 0;
}
body {
  /* Background */

  background-image: url(./assets/desktop/windows-11-wallpaper-transparent.png),
    radial-gradient(circle at 50% 85%, white, #83acc8);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
h3 {
  font-size: clamp(0.5em, 1em, 1.5em);
  color: var(--default-text);
}
h4 {
  font-size: clamp(0.3em, 0.95em, 1em);
  color: var(--default-text);
}
#main-div {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#main-div * {
  user-select: none;
}
#main-div img {
  pointer-events: none;
}
footer {
  width: 100vw;
  max-height: 100px;
  height: fit-content;

  padding: 4px 0;
  margin-top: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  /* Colour */
  background: linear-gradient(90deg, #e5effa, #d7e0f7, #e5effa);
  border-top: var(--taskbar-border);
}

#footer-left,
#footer-centre,
#footer-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
}
#footer-left {
  margin-left: 11px;
}
#footer-centre {
  justify-content: center;
}
#footer-right {
  justify-content: flex-end;
  margin-right: 14px;
}

/* Buttons in footer */

footer button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: background-color 0.1s ease, border-color 0.1s ease;

  display: flex;
  align-items: center;
  align-self: stretch;
}
footer button:hover {
  background-color: var(--taskbar-button-hover);
  border-color: var(--taskbar-button-border-hover);
}
footer button:active {
  background-color: var(--taskbar-button-clicked);
}

/* Taskbar buttons */

button.taskbar-button {
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;
}

button.taskbar-button img {
  width: clamp(20px, 24px, 36px);
  transition: all 0.15s ease;
}

button:active.taskbar-button img {
  transform: scale(0.8);
}

/* Left div in <footer> */

#weather-button {
  padding-left: 10px;
  padding-right: 70px;
  display: flex;
  gap: 7px;
}
#weather-button-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#weather-button-text h4 {
  color: var(--widget-subtext);
}

/* Centre div in <footer> */

#windows-button {
  margin-right: 5px;
}

#search-box {
  display: flex;
  align-items: center;
  position: relative;
  min-width: fit-content;
  min-height: fit-content;
}
#search-box:hover,
#search-box:focus-within {
  filter: brightness(97%);
  opacity: 0.9;
}
#search-box-icon {
  transform: rotate(5deg);
}
#search-box input {
  outline: none;
  font-size: 1.11rem;
  background: var(--searchbox-border-gradient);
  border: var(--searchbox-border);
  border-radius: 20px;
  padding: 6px 20px 6px 36px;
}
#search-box input::placeholder {
  color: var(--default-text);
  opacity: var(--searchbox-placeholder-opacity);
}
#search-box img {
  position: absolute;
  left: 12px;
}

#taskbar-icons {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}

/* Right div in <footer> */

#taskbar-tray-icon {
  padding: 0 10px;
}
#taskbar-language {
  text-transform: uppercase;
  padding: 0 3px;
}
#time-and-notifications-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
#time-and-notifications-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Ensures that website can't be in portrait mode on mobile devices */

#portrait-mode {
  display: none; /* This is hidden by default */

  width: 100vw;
  height: 100vh;

  background-color: black;
  color: white;
}
#portrait-mode h1 {
  font-weight: bold;
}

@media only screen and (orientation: portrait) {
  body {
    background-image: none;
  }
  #main-div {
    display: none;
  }
  #portrait-mode {
    display: flex;
    flex-direction: column;
    text-align: center;

    justify-content: center;
    align-items: center;
  }
}

/* I don't know how to shrink the elements in it yet */
@media only screen and (orientation: landscape) and (max-width: 880px) {
  * {
    font-size: 0.98em;
  }
  footer {
    /* grid-template-columns: repeat(3, minmax(0, 1fr)); */
    display: flex;
    justify-content: space-between;
  }
  #weather-button {
    padding-right: 15px;
  }
  #search-box input {
    padding-right: 0;
    width: 100px;
  }
}
@media only screen and (orientation: landscape) and (max-width: 735px) {
  #footer-left,
  #footer-right {
    margin: 0;
  }
  #taskbar-tray-icon,
  #windows-update-icon {
    display: none;
  }
}
