/* Metadata configuration */

* {
  font-family: "Segoe UI", "Open Sans", sans-serif;
  font-weight: normal;
}
:root {
  --default-text: black;
  --widget-subtext: grey;

  --h3-font-size: 13px;
  --h4-font-size: 0.95rem;

  --taskbar-border: 1.5px solid rgba(0, 0, 0, 0.1);
  --taskbar-button-border-hover: rgba(0, 0, 0, 0.05);
  --taskbar-button-hover: rgba(255, 255, 255, 0.6);
  --taskbar-button-clicked: rgba(255, 255, 255, 0.3);

  --searchbox: rgba(255, 255, 255, 0.85);
  --searchbox-border-colour1: rgba(0, 0, 0, 0.05);
  --searchbox-border-colour2: rgba(0, 0, 0, 0.15);
  --searchbox-border-gradient: linear-gradient(
        var(--searchbox),
        var(--searchbox)
      )
      padding-box,
    linear-gradient(
        180deg,
        var(--searchbox-border-colour1) 75%,
        var(--searchbox-border-colour2) 100%
      )
      border-box;
  --searchbox-border: 1.5px solid transparent;
  --searchbox-placeholder-opacity: 0.65;
}
html {
  font-size: 13px;
}
body,
h3,
h4 {
  margin: 0;
}
body {
  /* Background */

  background-image: url(./assets/desktop/windows-11-wallpaper-transparent.png),
    radial-gradient(circle at 50% 85%, white, #83acc8);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
h3 {
  font-size: var(--h3-font-size);
  color: var(--default-text);
}
h4 {
  font-size: var(--h4-font-size);
  color: var(--default-text);
}
main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
main * {
  user-select: none;
}
main img {
  pointer-events: none;
}


/* TASKBAR CONFIGURATION */
#taskbar {
  width: 100vw;
  margin-top: auto;
  max-height: 100px;

  padding: 4px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  /* Colour */
  background: linear-gradient(90deg, #e5effa, #d7e0f7, #e5effa);
  border-top: var(--taskbar-border);
}
#taskbar-left,
#taskbar-centre,
#taskbar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
}
#taskbar-left {
  margin-left: 11px;
}
#taskbar-centre {
  justify-content: center;
}
#taskbar-right {
  justify-content: flex-end;
  margin-right: 14px;
}

/* buttons in taskbar */
#taskbar button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: background-color 0.1s ease, border-color 0.1s ease;

  display: flex;
  align-items: center;
  align-self: stretch;
}
#taskbar button:hover {
  background-color: var(--taskbar-button-hover);
  border-color: var(--taskbar-button-border-hover);
}
#taskbar button:active {
  background-color: var(--taskbar-button-clicked);
}
button.taskbar-button {
  width: 30px;
  height: 30px;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}
button.taskbar-button img {
  width: 24px;
  transition: transform 0.15s ease;
}
button:active.taskbar-button img {
  transform: scale(0.8);
}

/* Left side of Taskbar */
#weather-button {
  padding-left: 10px;
  padding-right: 70px;
  display: flex;
  gap: 7px;
}
#weather-button-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#weather-button-text h4 {
  color: var(--widget-subtext);
}

/* Centre of Taskbar */
#search-box {
  height: fit-content;
  position: relative;

  margin-left: 5px;

  display: flex;
  align-items: center;
}
#search-box:hover,
#search-box:focus-within {
  filter: brightness(97%);
  opacity: 0.9;
}
#search-box-icon {
  transform: rotate(5deg);
}
#search-box input {
  outline: none;
  font-size: 1.11rem;
  background: var(--searchbox-border-gradient);
  border: var(--searchbox-border);
  border-radius: 20px;
  padding: 6px 20px 6px 36px;
}
#search-box input::placeholder {
  color: var(--default-text);
  opacity: var(--searchbox-placeholder-opacity);
}
#search-box img {
  position: absolute;
  left: 12px;
}
#taskbar-icons {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}

/* Right side of Taskbar */
#taskbar-tray-icon {
  padding: 0 10px;
}
#taskbar-language h3 {
  text-transform: uppercase;
  padding: 0 3px;
}
#time-and-notifications-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
#time-and-notifications-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


/* IF USER HAS A MOBILE DEVICE IN PORTRAIT MODE */
#portrait-mode {
  display: none; /* This is hidden by default */

  width: 100vw;
  height: 100vh;

  background-color: black;
  color: white;
}
#portrait-mode h1 {
  font-weight: bold;
}

@media only screen and (orientation: portrait) {
  body {
    background-image: none;
  }
  #main-div {
    display: none;
  }
  #portrait-mode {
    display: flex;
    flex-direction: column;
    text-align: center;

    justify-content: center;
    align-items: center;
  }
}

@media only screen and (orientation: landscape) and (max-width: 885px) {
  * {
    font-size: 1.6vw;
  }
  #taskbar {
    /* grid-template-columns: repeat(3, minmax(0, 1fr)); */
    display: flex;
    justify-content: space-between;
    padding: 0.25vw 0;
  }
  #taskbar-left,
  #taskbar-right {
    margin: 0;
  }
  /* #taskbar-left */
  #weather-button {
    padding-right: 3vw;
    gap: 1vw;
  }
  #weather-button img {
    width: 3vw;
  }

  /* #taskbar-centre */
  #windows-button {
    margin: 0;
  }
  #search-box {
    height: 100%;
  }
  #search-box input {
    padding-left: 4vw;
    padding-right: 3vw;
    width: 11vw;
    height: 2vw;
    /* height: 100%; */
    font-size: 1.8vw;
  }
  #search-box img {
    left: 1.5vw;
    width: 1.75vw;
  }
  button.taskbar-button {
    width: 2vw;
    padding: 2.5vw;
  }
  button.taskbar-button img {
    width: 3vw;
  }
  #taskbar-icons {
    margin: 0;
  }

  /* #taskbar-right */
  button {
    padding: 0 3px;
  }
  #taskbar-tray-icon {
    padding: 0 0.8vw;
  }
  #taskbar-tray-icon img {
    width: 1.25vw;
  }
  #windows-update-icon img {
    width: 2vw;
  }
  #taskbar-language {
    padding: 0 1vw;
  }
  #taskbar-control-panel img {
    width: 8vw;
  }
  #time-and-notifications-div img {
    width: 1.6vw;
  }
  #taskbar-copilot-icon img {
    width: 3vw;
  }
}
