/* Metadata configuration */

* {
  font-family: "Segoe UI", sans-serif;
  font-weight: normal;
}
html {
  font-size: 12.8px;
}
body,
h3,
h4 {
  margin: 0;
}
body {
  background-image: url(./assets/desktop/windows-11-wallpaper.jpg);
  background-size: cover;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 0.9rem;
}
#overall-div {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#overall-div * {
  user-select: none;
}
#overall-div img {
  pointer-events: none;
}
footer {
  width: 100vw;
  max-height: 100px;
  height: fit-content;

  padding: 4px 0;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Colour */
  background: linear-gradient(90deg, #e5effa, #d7e0f7, #e5effa);
  border-top: 1.5px solid rgba(0, 0, 0, 0.1);
}

#footer-left,
#footer-centre,
#footer-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
}
#footer-left {
  margin-left: 11px;
}
#footer-centre {
  gap: 7px;
}
#footer-right {
  margin-right: 14px;
}

/* Buttons in footer */

footer button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: background-color 0.1s, border-color 0.1s;

  display: flex;
  align-items: center;
  align-self: stretch;
}
footer button:hover {
  background-color: rgba(255, 255, 255, 0.55);
  border-color: rgba(0, 0, 0, 0.05);
}
footer button:active {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Taskbar buttons */

button.taskbar-button {
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;
}

button.taskbar-button img {
  transition: transform 0.1s;
}

button:active.taskbar-button img {
  transform: scale(0.8);
}

/* Left div in <footer> */

#weather-button {
  padding-left: 10px;
  padding-right: 75px;
  display: flex;
  gap: 7px;
}
#weather-button-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#weather-button-text h4 {
  color: grey;
}

/* Centre div in <footer> */

#search-box {
  display: flex;
  align-items: center;
  position: relative;
  min-width: fit-content;
  min-height: fit-content;
}
#search-box:hover {
  opacity: 0.7;
}
#search-box input {
  outline: none;
  font-size: 1.1rem;
  background-color: white;
  border: 1.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 6px 30px 6px 35px;
}
#search-box img {
  position: absolute;
  left: 12px;
}

#taskbar-icons {
  display: flex;
  flex-direction: row;
}

/* Right div in <footer> */

#taskbar-tray-icon {
  padding: 0 10px;
}
#taskbar-language {
  text-transform: uppercase;
  padding: 0 3px;
}
#time-and-notifications-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
#time-and-notifications-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
